<h3>{{ 'sylius_cms.ui.elements'|trans }}</h3>
{{ form_row(hookable_metadata.context.form.contentElements, {label: false}) }}
{{ form_row(hookable_metadata.context.form.contentElements.vars.button_add) }}
