<div class="col-12 col-md-6 mb-2" {{ sylius_test_html_attribute('productsInTaxons') }}>
    {{ form_row(hookable_metadata.context.form.productsInTaxons, sylius_test_form_attribute('productsInTaxons')) }}
</div>
