/vendor/
/node_modules/

/etc/build/*
!/etc/build/.gitignore

/composer.lock

/etc/build/*
!/etc/build/.gitkeep

.phpunit.result.cache

/behat.yaml
/phpstan.neon

/tests/TestApplication/.env.local
/tests/TestApplication/.env.*.local
