{% extends '@SyliusShop/shared/layout/base.html.twig' %}

{% block metatags %}
    <base href="{{ app.request.getSchemeAndHttpHost() }}">

    {{ parent() }}
{% endblock %}

{% block content %}
    <div class="d-flex justify-content-center mt-3">
        {% include resource.template %}
    </div>
{% endblock %}
