{% set form = hookable_metadata.context.form %}

<div class="card mb-3">
    <div class="card-body">
        {{ form_row(form.collections, sylius_test_form_attribute('collections')) }}
    </div>
</div>
