<div class="card mb-3">
    <div class="card-header">
        <div class="card-title">
            {{ 'sylius_cms.ui.teaser.header'|trans }}
            <small class="card-subtitle">{{ 'sylius_cms.ui.teaser.help'|trans }}</small>
        </div>
    </div>
    {% hook 'teaser' %}
</div>
