<div class="card mb-2" {{ sylius_test_html_attribute('contentTemplate') }}>
    <div class="card-body">
        <div class="row">
            <div class="col">
                <div class="row">
                    {{ form_row(hookable_metadata.context.form.contentTemplate, sylius_test_form_attribute('contentTemplate')) }}
                </div>
            </div>
        </div>
    </div>
</div>
