<div class="mb-3" {{ sylius_test_html_attribute('content-Template') }}>
    {{ form_row(hookable_metadata.context.form.contentTemplate, sylius_test_form_attribute('content-template-autocomplete')) }}
</div>
