{% set form = hookable_metadata.context.form %}

<div class="col-12 col-md-6" {{ sylius_test_html_attribute('content-Template') }}>
    {{ form_row(form.contentTemplate, sylius_test_form_attribute('content-template-autocomplete')) }}
</div>
