<div class="col-12">
    <label for="sylius_cms_media_path" class="form-label">Preview</label>
</div>
<a class="btn" href="{{ path('sylius_cms_shop_media_download', {'code': code}) }}">
    {{ ux_icon('tabler:download') }}
    {{ 'sylius_cms.ui.download'|trans }}
</a>
