<div class="card mb-3">
    <div class="card-header">
        <h5 class="mb-0">{{ 'sylius_cms.ui.manage_block_display'|trans }}</h5>
    </div>
    <div class="card-body">
        {% hook 'display_config' %}
    </div>
</div>
